{{#if (eq element "panel")}}
  <div class="competetive-stats-panel">
    <div class="content">
      <h2 class="heading">Starting SR</h2>
      <h3 class="text">{{model.startingSR}}</h3>
      <h2 class="heading">Current SR</h2>
      <h3 class="text">{{model.currentSR}}</h3>
      <h2 class="heading">Games Won</h2>
      <h3 class="text">{{model.gamesWon}}</h3>
      <h2 class="heading">Games Lost</h2>
      <h3 class="text">{{model.gamesLost}}</h3>
    </div>
    <img src="/assets/images/overwatch/panel-4-dark.png" alt="">
  </div>
{{/if}}
{{#if (eq element "icon")}}
  <div class="{{concat "competetive-rank " model.rankClass}}" />
{{/if}}
{{#if (eq element "overview")}}
  <div class="display">
    <div class="current-sr">
      <h2 class="heading">Current SR</h2>
      <h3 class="text">{{model.currentSR}}</h3>
    </div>
    <div class="sr-spread">
      <h2 class="heading">Spread</h2>
      <h3 class={{concat 'text' (if (gt model.srSpread 0) ' positive' ' negative')}}>{{model.srSpread}}</h3>
    </div>
    <div class="win-loss">
      <h2 class="heading">Wins / Losses</h2>
      <h3 class="text"><span class="games-won">{{model.gamesWon}}</span> / <span class="games-lost">{{model.gamesLost}}</span></h3>
    </div>
  </div>
{{/if}}
{{#unless element}}
  Please enter an ?element= query param
{{/unless}}
