<aside class="confirm-container {{if showButtons "show-buttons" ""}}">
  <div class="confirm win" {{action "selectWinState" 1}}>
    Win
  </div>
  <div class="confirm loss" {{action "selectWinState" 2}}>
    Loss
  </div>
  <div class="clicker" {{action "clickAction"}}></div>
</aside>
{{yield}}